.inline-toc-link:hover {
    text-decoration: underline;
}

.inline-toc-0:not(:last-child) {
    padding-bottom: .5rem;
}

.inline-toc-1:not(:last-child):after {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    content: "•";
}

.inline-toc-1 {
    display: inline;
    margin: 0;
}

@media (max-width: 1279px) {
    .inline-toc {
        display: block;
    }
}

@media (min-width: 1280px) {
    .inline-toc {
        display: none;
    }
}