{{ $items := $.Page.Pages.ByLastmod }}
{{ $r := string (.Get "root") }}

{{ with $r }}
    {{ $root := $.Site.GetPage $r }}
    {{ $items = $root.Pages.ByLastmod }}
{{ end }}

{{ $items = $items.Reverse }}

{{- with $items -}}
    <div class="hextra-cards hx:mt-4 hx:gap-4 hx:grid not-prose" style="--hextra-cards-grid-cols: 3;">
    {{- range . -}}
        {{- partial "shortcodes/card.html" (dict
            "link"     .RelPermalink
            "title"    .Title
            "subtitle" .Description
            "image"    (.Param "thumbnail")
        ) -}}
    {{- end -}}
    </div>
{{- end -}}
