<nav class="hextra-toc hx:order-last hx:shrink-0 hx:print:hidden inline-toc" aria-label="table of contents">
<details class="hx:last-of-type:mb-0 hx:bg-neutral-50 hx:dark:bg-neutral-800 hx:p-2 hx:mt-4 hx:group">
  <summary class="hx:flex hx:items-center hx:cursor-pointer hx:select-none hx:list-none hx:p-1 hx:rounded hx:transition-colors hx:hover:bg-gray-100 hx:dark:hover:bg-neutral-800 hx:before:mr-1 hx:before:inline-block hx:before:transition-transform hx:before:content-[''] hx:dark:before:invert hx:rtl:before:rotate-180 hx:group-open:before:rotate-90">
    <strong class="hx:text-lg">On this page</strong>
  </summary>
  <ul class="not-prose hx:overflow-hidden hx:p-2">
      {{- with $.Page.Fragments.Headings -}}
        {{- range . -}}
            {{- with .Headings -}}{{ template "toc-sub" (dict "headings" . "level" 0) }}{{- end -}}
        {{- end -}}
      {{- end -}}
  </ul>
</details>
</nav>

{{- define "toc-sub" -}}
  {{- $headings := .headings -}}
  {{- $level := .level -}}

  {{- if ge $level 4 -}}
    {{ return }}
  {{- end -}}

  {{- $padding := (mul $level 4) -}}

  {{- $index := 0 -}}
  
  {{- range $headings }}
    {{- if .Title }}
      {{- if eq $level 0 -}}
        {{- if not (eq $index 0) -}}
          </ul></li>
        {{- end -}}
        <li class="inline-toc-0">
          <strong><a class="inline-toc-link not-prose hx:break-words" href="#{{ anchorize .ID }}">
            {{- .Title | safeHTML | plainify | htmlUnescape }}
          </a></strong>
          <ul class="not-prose">
        {{- end -}}
      {{- if and (gt $level 0) (lt $level 2) -}}
        <li class="inline-toc-1">
          <a class="inline-toc-link not-prose hx:break-words" href="#{{ anchorize .ID }}">
            {{- .Title | safeHTML | plainify | htmlUnescape }}
          </a>
        </li>
      {{- end -}}
    {{- end -}}

    {{- with .Headings -}}
      {{ template "toc-sub" (dict "headings" . "level" (add $level 1)) }}
    {{- end -}}

    {{ $index = (add $index 1) }}
  {{- end -}}
{{- end -}}